body {
	background-color: black;
	color: white;
	text-align: center;
	font-family: 'Arial', sans-serif;
	font-size: 18px;

}

#bottom {
	position: fixed;
	bottom: 5px;
	text-align: left;
}

.boxy {
	margin: auto;
	width: 25%;
	text-align: left;
}

a:link {
	color: white;
}

a:visited {
	color: white;
}