body {
	background-color: #191315;
	color: #ea2f45;
	text-align: center;
	font-family: 'Arial', sans-serif;

}

#bottom {
	bottom: 5px;
	text-align: left;
}

.boxy {
	margin: auto;
	width: 15%;
	text-align: left;
}

#responses {
	font-size: 30px;
	height: 300px;
}

a:link {
	color:#d31a42
}

a:visited {
	color:#d31a42
}